:root {
    --transition__2s: .2s ease-in-out;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

:focus {
    outline: unset;
}

body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

.overflow__hidden {
    overflow: hidden;
}


/* =================================================== */


/* review stars */

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}

.rate:not(:checked)>input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked)>label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    /* color: #ccc; */
    color: #ffc700;
}

.rate:not(:checked)>label:before {
    content: '★ ';
}

.rate>input:checked~label {
    color: #ffc700;
}

.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
    color: #deb217;
}

.rate>input:checked+label:hover,
.rate>input:checked+label:hover~label,
.rate>input:checked~label:hover,
.rate>input:checked~label:hover~label,
.rate>label:hover~input:checked~label {
    color: #c59b08;
}


/* review star end */


/* =================================================== */

.cantainer {
    width: 83%!important;
    margin: auto;
}

.topbar {
    border-bottom: 1px solid rgb(102 102 102 / 10%);
}

.topbar .cantainer {
    display: flex;
    justify-content: space-between;
    padding: 0px 2px;
    align-items: center;
    width: 83%;
    margin: auto;
    min-height: 30px;
}

.topbar .box {
    display: flex;
    align-items: center;
}

.topbar p {
    text-transform: capitalize;
    letter-spacing: .4px;
    text-shadow: 0 0 black;
    color: #666666;
    font-weight: 400;
    font-size: 13px;
}

.topbar a {
    display: inline-block;
    padding: 0px 5px;
    margin: 0px 3px;
    text-decoration: none;
}

.topbar a p {
    font-size: 13px;
    color: #666666;
    text-transform: capitalize;
    border-right: 1px solid rgb(102 102 102 / 20%);
    padding: 0px 10px 0px 0px;
}

.topbar a img {
    width: 14px;
    filter: contrast(0.2);
}

.midbar .cantainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
}

.searchbar {
    display: flex;
    align-items: center;
}

.searchbar input.search {
    width: 320px;
    height: 37px;
    border: 1px solid lightgray;
    padding: 0px 20px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.searchbar a {
    width: 50px;
    height: 37px;
    background-image: linear-gradient(-35deg, #4f1e52 0%, #980e5d 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 0px 3px 0px 0px;
}

.searchbar a img {
    width: 16px;
}

.midbar .logo__wrap a {
    display: block;
}

.midbar .icon a {
    display: inline-block;
    position: relative;
    padding: 5px 5px;
    margin: 0px 2px;
}

.midbar .icon a img {
    width: 18px;
}

.midbar .icon a span {
    position: absolute;
    top: -5px;
    right: -5px;
    background-image: linear-gradient(35deg, #4f1e52 0%, #980e5d 50%);
    color: white;
    font-size: 10px;
    padding: 3px 7px;
    border-radius: 100%;
}

.menu {
    background-color: #17161b;
}

.header .menu .cantainer {
    position: relative;
}

.menu ul.navbar {
    display: flex;
    align-items: center;
    gap: 5px;
}

.menu ul.navbar a {
    color: white;
    text-decoration: none;
    padding: 14px 18px;
    display: flex;
    gap: 8px;
    align-items: center;
    text-transform: capitalize;
    font-size: .8rem;
    letter-spacing: .5px;
    line-height: 18px;
}

.menu ul.navbar a img {
    filter: invert(1);
}

.menu ul.navbar a img[alt="home"] {
    filter: unset;
}

.menu ul.navbar li.sale {
    margin-left: auto;
}

.menu ul.navbar li.sale a {
    background-image: linear-gradient(-35deg, #fd5d23 0%, #ffa905 100%);
    font-size: .9rem;
    padding: 14px 18px;
}

.hero img {
    width: 100%;
}

.category__wrap {
    margin: 40px 0px;
}

.category__wrap .heading h2 {
    font-size: 16px;
    text-transform: uppercase;
    color: #1c1c1c;
    font-weight: 500;
    text-align: center;
    margin: 0px 0px 32px;
}

.category__wrap .category {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1%;
    margin: 0px;
}

.category__wrap .category a {
    text-align: center;
    display: block;
    transition: var(--transition__2s);
    padding: 0px 0px 6px;
    border-radius: 10px;
    margin: 0px 0px 0px;
    overflow: hidden;
}


/* .category__wrap .category a:hover {
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 20%);
} */

.category__wrap .category img {
    width: 100%;
    transition: .2s transform ease-in-out;
}

.category__wrap .category a p {
    font-size: 16px;
    color: rgb(0 0 0 / 80%);
    text-align: center;
    text-transform: capitalize;
    font-weight: 500;
    margin: 10px 0px 0px;
}

.home__product {
    margin: 50px 0px;
}

.product__category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e5e5e5;
    padding: 0px 0px 10px;
    margin: 0px 0px 20px;
    position: relative;
}

.product__category::before {
    content: '';
    width: 48px;
    height: 3px;
    background-image: linear-gradient(0deg, #fd5f23 0%, #ff9313 100%);
    position: absolute;
    bottom: 0;
}

.product__category h2 {
    font-size: 16px;
    text-transform: uppercase;
    color: #252525;
    font-weight: 500;
}

.product__category .view__more {
    font-size: 16px;
    color: #fe791b;
    text-transform: capitalize;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 7px;
    border-bottom: 1px solid transparent;
}

.product__category .view__more:hover {
    border-bottom: 1px solid #fe791b;
}

.product__category .view__more svg {
    width: 10px;
    fill: #fe791b;
}

.product__grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1%;
    transform: var(--transition__2s);
}

.product__box {
    margin: 0px 1px;
}

.product__box .image__wrap {
    border-radius: 9px;
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    overflow: hidden;
    display: flex;
    justify-content: center;
    transition: var(--transition__2s);
}


/* .product__grid a:hover .image__wrap {
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 20%);
} */

.product__box .image__wrap img {
    width: 100%;
    transition: .2s transform ease-in-out;
}

.product__box .product__name p {
    font-size: 14px;
    color: rgb(0 0 0 / 80%);
    font-weight: 500;
    line-height: 1.2;
    text-transform: capitalize;
    margin: 10px 0px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.product__box .price__wrap p.main__price {
    font-size: 18px;
    color: #fd5f23;
    font-weight: 500;
    margin: 10px 0px;
}

.product__box .price__wrap p.main__price span.discount {
    font-size: 11px;
    color: #6d6d6d;
    text-decoration: line-through;
    margin: 0px 0px 0px 5px;
}

.product__box .stars {
    display: flex;
    align-items: center;
}

.product__box .stars .rate {
    padding: 0px;
    height: fit-content;
}

.product__box .stars label {
    font-size: 14px;
}

.product__box .stars span.review__count {
    font-size: 11px;
    color: rgb(109 109 109 / 60%);
    text-shadow: 0 0 rgb(109 109 109 / 30%);
    font-weight: 500;
}

.promo__slide .cantainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2%;
}

.promo__slide a {
    transition: var(--transition__2s);
    display: flex;
    border-radius: 25px;
    overflow: hidden;
}


/* .promo__slide a:hover {
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 20%);
} */

.promo__slide img {
    width: 100%;
    transition: .2s transform ease-in-out;
}

.home__info {
    background-color: #f4f8f9;
    padding: 30px 0px;
}

.home__info .cantainer {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.home__info .box {
    display: flex;
    gap: 2px;
}

.home__info .box .right h3 {
    font-size: 14px;
    text-transform: uppercase;
    color: rgb(0 0 0 / 70%);
    font-weight: 600;
    margin: 6px 0px 0px;
}

.home__info .box .right p {
    font-size: 14px;
    font-weight: 500;
    color: rgb(0 0 0 / 50%);
}

.newsletter {
    background-image: linear-gradient(-35deg, #fd5d23 0%, #ffa905 100%);
    padding: 20px 0px;
}

.newsletter .cantainer {
    display: flex;
    justify-content: space-around;
    gap: 2%;
    align-items: center;
}

.newsletter p {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: white;
    margin: 0px 0px 0px;
}

.newsletter p span {
    font-size: 1.6rem;
    font-weight: 500;
    padding: 0px 5px;
}

.newsletter .subscription {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.newsletter .box input {
    width: 280px;
    height: 40px;
    padding: 10px 24px;
    border: 2px solid transparent;
    border-right: unset;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    transition: var(--transition__2s);
}

.newsletter .box input:focus {
    border-color: #90105c;
}

.newsletter .box a {
    background-image: linear-gradient(316deg, #4f1e52 0%, #980e5d 100%);
    color: white;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0px 22px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.footer {
    background-color: #fefefe;
    padding: 30px 0px;
}

.footer .cantainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1%;
}

.footer .footerLogo__wrap {
    margin: 0px 0px 10px;
}

.footer .footerLogo__wrap img {}

.footer h4.footer__heading {
    text-transform: capitalize;
    color: rgb(37 37 37 / 90%);
    font-weight: 500;
    margin: 0px 0px 5px;
    font-size: 15px;
}

.footer p {
    font-size: 13px;
    color: rgb(40 39 39 / 80%);
    font-weight: 500;
    padding: 0px 36px 0px 0px;
}

.footer ul a {
    display: block;
    color: rgb(37 37 37 / 50%);
    font-size: 13px;
    text-transform: capitalize;
    padding: 6px 0px;
    text-shadow: 0 0 rgb(37 37 37 / 50%);
}

.footer ul a:hover {
    text-decoration: underline;
}

.footer ul.footerSocial__icon {
    display: flex;
    gap: 5px;
}

.footer ul.footerSocial__icon li a {
    border: 1px solid rgb(211 211 211 / 50%);
    border-radius: 100%;
    padding: 5px;
    display: flex;
    margin: 0px 2px;
    align-items: center;
    justify-content: center;
    transition: var(--transition__2s);
}

.footer ul.footerSocial__icon li a:hover {
    background-image: linear-gradient(-35deg, #fd5d23 0%, #ffa905 100%);
}

.footer .footerSocial__icon a img {
    width: 12px;
    transition: var(--transition__2s);
}

.footer ul.footerSocial__icon li a:hover img {
    filter: invert(1);
}

.footer ul.footerSocial__icon li:first-child a img {
    width: 13px;
    padding: 0px 3px;
}

.bottom__bar {
    border-top: 1px solid rgb(211 211 211 / 50%);
    padding: 10px 0px;
}

.bottom__bar .cantainer {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}

.bottom__bar p {
    display: block;
    color: rgb(37 37 37 / 80%);
    font-size: 12px;
    text-transform: capitalize;
    padding: 6px 0px;
    /* text-shadow: 0 0 rgb(37 37 37); */
}

.bottom__bar p a {
    text-transform: uppercase;
    color: rgb(37 37 37 / 80%);
    display: inline-block;
    font-size: 11px;
}

.bottom__bar p a:hover {
    text-decoration: underline;
}

.bottom__bar a img {}

.navbar__dropdown {
    position: absolute;
    overflow: hidden;
    width: 100%;
    background-color: white;
    padding: 25px;
    display: none;
    grid-template-columns: 20% 20% 20% 1fr;
    border-bottom-left-radius: 27px;
    border-bottom-right-radius: 27px;
    z-index: 100;
    align-items: center;
    border: 1px solid #e5e5e5;
}

.navbar__dropdown:hover {
    display: grid;
}

.navbar__dropdown h4.dropdown__heading {
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 600;
    color: black;
    position: relative;
    margin: 0px 0px 10px;
    padding: 0px 0px 10px;
}

.navbar__dropdown h4.dropdown__heading::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    bottom: -3px;
    background-image: linear-gradient(-35deg, #fd5d23 0%, #ffa905 100%);
}

.navbar__dropdown ul a {
    text-transform: capitalize;
    font-size: 14px;
    color: black;
    font-weight: 400;
    padding: 5px 0px;
    display: inline-block;
    line-height: 22px;
}

.navbar__dropdown ul a:hover {
    text-decoration: underline;
}

.dropdown__images {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: right;
}

.dropdown__images a {
    display: flex;
}

.dropdown__images a img {
    width: 100%;
}

.menu ul.navbar a:hover,
.menu ul.navbar a:focus {
    background-image: linear-gradient(-35deg, #fd5d23 0%, #ffa905 100%);
}

.menu:has(ul.navbar a:hover) .navbar__dropdown,
.menu:has(ul.navbar a:focus) .navbar__dropdown {
    display: grid;
}

.navbar__iconWrap {
    display: none;
}

.navbar__iconWrap a {
    display: flex;
    border: 1px solid black;
    padding: 5px 7px;
    border-radius: 5px;
}

.topbar__mobileMenu .navbar__iconWrap a {
    width: fit-content;
}

.navbar__iconWrap a svg {
    width: 20px;
    height: 20px;
}

.mobile__navbar {
    width: 0%;
    height: 100vh;
    position: fixed;
    background-color: white;
    top: 0;
    z-index: 550;
    display: block;
    overflow: hidden;
    transition: .2s ease-in-out;
}

.mobile__navbar .main__menu {
    height: 100%;
}

.mobile__navbar ul {
    background-color: rgb(211 211 211 / 10%);
    height: 100%;
    overflow: hidden auto;
}

.mobile__navbar ul a {
    display: flex;
    justify-content: space-between;
    color: black;
    font-size: 14px;
    text-transform: capitalize;
    padding: 14px 3%;
    border-bottom: 1px solid rgb(0 0 0 / 10%);
    background-color: white;
}

.mobile__navbar ul a img {
    transform: rotate(-90deg);
}

.mobile__navbar ul li:first-child>a {
    border-top: 1px solid rgb(0 0 0 / 10%);
}

.dropdown {
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: white;
    top: 0px;
    z-index: 550;
    left: 100%;
    transition: .2s ease-in-out;
}


/* .mobile__navbar ul a:focus+.dropdown {
    left: 0%;
} */

.dropdown li a:hover,
.dropdown li a:focus {
    left: 0%;
}

a#nav__btn__Inside {
    position: relative;
    z-index: 999;
}

.dropdown .topbar__mobileMenu .prev__option {
    display: flex;
    justify-content: right;
}

.dropdown .topbar__mobileMenu .prev__option a {
    padding: 7px 0px 7px 14px;
    gap: 5px;
    border: unset;
}

.dropdown .topbar__mobileMenu .prev__option a img {
    transform: rotate(90deg);
}

.hero {
    position: relative;
}

.hero .heading {
    position: absolute;
    inset: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
}

.hero .heading h1 {
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 400;
    color: white;
    letter-spacing: 1px;
    margin: 0px 0px 7px;
}

.Breadcrumb {
    width: fit-content;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 5px;
}

.Breadcrumb a {
    color: white;
    text-transform: capitalize;
    font-size: 11px;
    letter-spacing: .7px;
}

.Breadcrumb span {
    display: inherit;
}

.Breadcrumb span img {
    width: 6px;
    filter: invert(1);
}

.category {
    margin: 50px 0px;
}

.category>.cantainer {
    display: grid;
    grid-template-columns: 220px 1fr;
    gap: 25px;
}

.filter__by .mini__filterBox {
    margin: 0px 0px 30px;
    position: relative;
}

.filter__by .mini__filterBox .heading h3 {
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 500;
    border-bottom: 1px solid #a9a8ad;
    padding: 0px 0px 8px;
    letter-spacing: .8px;
}

.filter__by .mini__filterBox .option ul {
    padding: 10px 0px 10px 10px;
}

.filter__by .mini__filterBox .option ul a {
    color: rgb(0 0 0 / 70%);
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 500;
    padding: 4px 0px;
    display: block;
}

.filter__by .mini__filterBox .option ul .inputField__wrap {
    display: flex;
    gap: 5px;
    align-items: center;
    margin: 0px 0px 7px;
}

.filter__by .mini__filterBox .option ul .inputField__wrap label {
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: rgb(0 0 0 / 70%);
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 500;
}

.category__product .cantainer {
    width: 100%!important;
}

.mostPopular__product {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mostPopular__product select {
    width: 150px;
    height: 30px;
    border-color: #a9a8ad;
    padding: 0px 5px 0px;
    text-transform: capitalize;
    font-size: 11px;
    color: rgb(0 0 0 / 70%);
}

.mostPopular__product label {
    font-size: 11px;
    font-weight: 600;
    margin: 0px 7px 0px 0px;
    color: rgb(0 0 0 / 50%);
    text-transform: capitalize;
}

.mostPopular__product select.product__show {
    width: 80px;
    text-align: center;
}

.category__product {
    margin: 30px 0px;
}

.category__product .product__grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.category__product .product__grid .product__box {
    margin: 0px 1px 10px;
}

.filter__by {
    padding: 0px 20px 0px 0px;
}

a.filter__btn {
    margin: 0px 0px 0px 20px;
    border-left: 1px solid lightgray;
    padding: 5px 10px;
    color: rgb(0 0 0 / 60%);
    text-transform: capitalize;
    font-weight: 500;
    display: none;
}

a.filter__btn img {
    width: 16px;
    margin: 0px 0px -3px 0px;
}

.black__layer {
    position: absolute;
    width: 0%;
    height: 100vh;
    background-color: black;
    z-index: 9;
    opacity: .8;
    transition: .6s ease-in-out;
    margin: auto;
    right: 0%;
    overflow: hidden;
}

.right__0percent {
    right: 0%!important;
}

.width__100percent {
    width: 100%;
}

.breadcrumb__wrap .Breadcrumb {
    margin: 20px 0px;
    gap: 10px;
}

.breadcrumb__wrap .Breadcrumb a {
    color: rgb(0 0 0 / 80%);
    font-weight: 500;
}

.breadcrumb__wrap .Breadcrumb span img {
    filter: unset;
    width: 4px;
}

.productDetail__wrap .cantainer {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 2%;
}

.productImage__wrap .main__image {
    position: relative;
}

.productImage__wrap .main__image img {
    width: 100%;
    display: block;
}

.productImage__wrap .more__images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 15px 0px 0px;
}

.productImage__wrap .more__images img {
    width: 100%;
    display: block;
}

.productImage__wrap .more__images a {
    border: 2px solid transparent;
    display: block;
}

.productImage__wrap .more__images a:focus {
    border: 2px solid #fea377;
}

.product__detail {
    padding: 0px 0px 0px 70px;
}

.product__detail .product__code {
    margin: 0px 0px 10px;
}

.product__detail .product__code p {
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 500;
    color: rgb(0 0 0 / 80%);
}

.product__detail .product__code p span {
    color: #fc4a00;
}

.product__detail .product__name {
    margin: 0px 0px 12px;
}

.product__detail .product__name h3 {
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 20px;
    color: rgb(0 0 0 / 80%);
}

.product__detail .product__price {
    margin: 35px 0px;
}

.product__detail .product__price span {
    font-size: 24px;
    font-weight: 500;
    color: black;
}

.product__detail .product__price span.price__before {
    color: rgb(0 0 0 / 40%);
    margin: 0px 12px 0px 0px;
    text-decoration: line-through;
    font-size: 18px;
}

.product__detail .product__availability {
    margin: 0px 0px;
}

.product__detail .product__availability p {
    font-size: 14px;
    text-transform: capitalize;
    letter-spacing: .5px;
    color: rgb(0 0 0 / 80%);
    font-weight: 500;
}

.product__detail .product__availability p span {
    color: #fc4a00;
    font-size: 12px;
    letter-spacing: 1px;
}

.product__detail .short__description {
    margin: 12px 0px 0px;
}

.product__detail .short__description p {
    line-height: 21px;
    color: rgb(0 0 0 / 60%);
    font-weight: 400;
    word-spacing: 1px;
    font-size: 15px;
}

.product__detail .product__spec {
    margin: 45px 0px 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.product__detail .product__spec .field label {
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 500;
    color: rgb(0 0 0 / 80%);
    margin: 0px 0px 5px;
    display: block;
}

.product__detail .product__spec .field select,
.product__detail .product__spec .field input {
    width: 100%;
    height: 34px;
    border: 1px solid rgb(211 211 211 / 60%);
    padding: 0px 5px;
    color: dimgrey;
}

.product__detail .product__spec .field input {
    text-align: center;
}

.product__detail .purchase__warp {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.product__detail .purchase__warp a {
    text-align: center;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    color: black;
    border: 1px solid lightgray;
    height: 50px;
    text-shadow: 0 0 rgb(0 0 0 / 20%);
}

.product__detail .purchase__warp a.addToCard {
    /* background-color: #fd5502; */
    color: white;
    background-image: linear-gradient(-35deg, #fd5d23 0%, #fd5d23 100%);
}

.product__detail .purchase__warp a:hover {
    background-image: linear-gradient(-35deg, #fd5d23 0%, #ffa905 100%);
    color: white;
}

.product__detail .purchase__warp a:hover img {
    filter: invert(1);
}

.product__detail .purchase__warp a img {
    width: 14px;
}

.productDetail__wrap {
    margin: 0px 0px 50px;
}

.review__wrap {
    display: flex;
    align-items: center;
    text-transform: capitalize;
    gap: 8px;
}

.review__wrap .review__count p {
    font-size: 13px;
    color: rgb(0 0 0 / 55%);
    font-weight: 500;
    letter-spacing: .5px;
}

.zoom__icon {
    position: absolute;
    bottom: 15px;
    right: 15px;
}


/* Style the tab */

.product__more__details {
    background-color: #f9f9f9;
    padding: 50px 0px 100px;
}

.product__more__details .cantainer {
    background-color: white;
    padding: 20px;
}

.product__more__details .tab button.tablinks {
    text-transform: capitalize;
    background-color: unset;
    border: unset;
    margin: 0px 15px;
    padding: 15px 0px;
    font-size: 18px;
    font-family: 'roboto', sans-serif;
    color: rgb(0 0 0 / 70%);
    cursor: pointer;
}

.product__more__details .tab button.tablinks.active {
    font-weight: 800;
    border-bottom: 3px solid #ff5402;
}

.product__more__details .tab {
    text-align: center;
    border-bottom: 1px solid #efefef;
}


/* div#description {
    padding: 50px 0px 0px 50px;
} */

.tabcontent {
    display: none;
    padding: 50px 50px 50px 50px;
}

.tabcontent .box {
    margin: 0px 0px 60px;
}

.tabcontent .box h1 {
    text-transform: capitalize;
    font-size: 24px;
    font-weight: 400;
    color: rgb(0 0 0 / 70%);
}

.tabcontent .box h2 {
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 400;
    color: rgb(0 0 0 / 70%);
}

.tabcontent .box>p {
    margin: 15px 0px;
    color: rgb(0 0 0 / 50%);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
}

.tabcontent .description__grid {
    display: flex;
    gap: 50px;
    align-items: flex-start;
}

.tabcontent .sku__tags {
    display: flex;
    gap: 22px;
}

.tabcontent .sku__tags p {
    font-size: 14px;
    font-weight: 600;
    color: rgb(0 0 0 / 60%);
}

.tabcontent .sku__tags span {
    color: rgb(0 0 0 / 50%);
}

.tabcontent .sku__tags p a {
    text-transform: capitalize;
    color: #4483c7;
    font-weight: 500;
}

.tabcontent .box .spec__wrap {
    padding: 20px 40px 20px 20px;
}

.tabcontent .box .spec__wrap .spec {
    display: grid;
    grid-template-columns: 200px 1fr;
    border-bottom: 1px solid lightgray;
    padding: 7px 0px;
}

.tabcontent .box .spec__wrap .spec p.bold {
    font-weight: 800;
}

.tabcontent .box .spec__wrap .spec p {
    text-transform: capitalize;
    color: rgb(0 0 0 / 70%);
    font-size: 15px;
}

div.tabcontent .comment__box {
    display: grid;
    padding: 0px 0px 25px;
    margin: 0px 0px 20px;
    gap: 5px;
    border-bottom: 1px solid #efefef;
}

div.tabcontent .comment__box .rate {
    padding: 0px;
    height: 30px;
}

div.tabcontent .comment__box .rate label {
    font-size: 20px;
}

div.tabcontent .comment__box p.comment {
    font-size: 14px;
    line-height: 1.5;
    color: rgb(0 0 0 / 70%);
    text-shadow: 0 0 rgb(0 0 0 / 10%);
}

div.tabcontent .comment__box p.commentator__detail {
    margin: 15px 0px 0px;
}

div.tabcontent .comment__box p.commentator__detail span.commentator__name {
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 600;
    color: rgb(0 0 0 / 60%);
    margin: 0px 10px 0px 0px;
}

div.tabcontent .comment__box p.commentator__detail span.date__time {
    font-size: 13px;
    color: rgb(0 0 0 / 40%);
    font-weight: 500;
    letter-spacing: .5px;
}

.tabcontent .review__ratio {
    width: 400px;
    margin: 0px auto 50px;
}

.tabcontent .review__ratio h2 {
    text-align: center;
    font-size: 14px;
    margin: 0px 0px 34px;
}

.ratio {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 30px;
}

.ratio .bar {
    overflow: hidden;
    width: 100%;
    height: 10px;
    background-color: rgb(211 211 211 / 40%);
    border-radius: 50px;
}

.ratio .bar .progress {
    height: 100%;
    width: 80%;
    background-color: lightgray;
}

.ratio .box {
    margin: 0px;
}

.ratio .box .rate {
    height: fit-content;
    padding: 0px;
}

.ratio .rate label {
    font-size: 20px;
}

.tabcontent .review__ratio h3 {
    font-size: 32px;
    color: rgb(0 0 0 / 80%);
    line-height: 1;
    font-weight: 600;
    margin: 0px 0px 12px;
}

.tabcontent .review__ratio h3 span {
    display: block;
    text-transform: capitalize;
    font-size: 15px;
    color: rgb(0 0 0 / 80%);
    font-weight: 400;
}

.tabcontent .comment__wrap .comment__box:last-child {
    border: unset;
    margin: 0px;
    padding: 0px;
}

svg.bi.bi-star {
    stroke: rgb(241 241 241);
}

svg.bi.bi-star-fill {
    /* stroke: #fdd501; */
    fill: #ffc700;
}

.review__star svg {
    margin: 0px 2px 0px 0px;
}

input#product__quantity {
    padding: 0px;
    background-color: white;
}

.counter__btn {
    position: absolute;
    top: 1px;
    right: 1px;
    height: calc(100% - 2px);
    overflow: hidden;
    display: grid;
    border-left: 1px solid #e3e3e3;
}

.counter__btn button:first-child {
    border-bottom: 1px solid #e3e3e3;
}

.counter__btn button {
    cursor: pointer;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border: unset;
    background-color: white;
}

.counter__btn button img {
    display: block;
    width: 8px;
    filter: invert(.6);
}

.product__detail .product__spec .field .input__wrap {
    position: relative;
}

.counter__btn button:focus {
    border: 1px solid #e3e3e3;
}

div#reviews .ratio svg {
    width: 14px;
    margin: 0px 5px 0px 0px;
}

div#reviews .ratio svg {
    margin: 0px;
}

div#reviews .ratio {
    margin: 0px 0px 15px;
}

.comment__box .review__star svg {
    margin: 0px 0px 0px 0px;
    width: 13px;
}

.price_from_to__wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

.price_from_to__wrap .label label {
    color: rgb(0 0 0 / 70%);
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 500;
    padding: 4px 0px;
    display: block;
}

.price_from_to__wrap .input input {
    width: 100%;
    height: 28px;
    padding: 0px 5px;
    border: 1px solid #a9a8ad;
    font-size: 13px;
    color: rgb(0 0 0 / 80%);
}

.product__box:hover .image__wrap img {
    transform: scale(1.1);
}

.promo__slide a:hover img {
    transform: scale(1.05);
}

.category__wrap .category a:hover img {
    transform: scale(1.05);
}

.category__wrap .category a .image__warp {
    overflow: hidden;
    border-radius: 15px;
}

.topbar .box a:hover {
    opacity: .8;
}

.midbar .logo__wrap a img {
    width: 170px
}

.midbar .icon a.searchbar__icon {
    display: none;
}

div#specification .box:last-child {
    margin: 0px 0px 0px;
}
